body {
    background: #000 ;
    color: #fff;
    padding: 25px;
    
  }


  html, body {
    height: 100%;
}



body {
    background:black;  
    font-size: 17px;
    line-height: 1.5;
}

.image {
    position: relative;
    float: right;
    border: 5px solid rgb(210, 203, 203);
    
}

#Projects {
    float: right;
}

