* {
    box-sizing: border-box
  }
  body {
    background: #000 ;
    color: #fff;
    height: 100%;
    width: 100%;
    font-size: 17px;
    line-height: 1.5;
    padding: 2em 5% 0; 
    margin: auto;
}
u {
        color: magenta;
        font-size: 75px;"
}
  

.title {
    font-size: 75px;
}
  





.image {
    position: relative;
    float: right;
    border: 5px solid rgb(210, 203, 203);
    width: 400px;
    height: 350px;
    
}




#Project {
    position: relative;
    float: left;
    font-size: 24px;
    
}

#Podcast {
    position: relative;
    float: right;
}

#Podcast img {
    width: 150px;
    height: 150px;
    display: block;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
    

}






@media screen and (max-width: 670px) {
    
    * {
        box-sizing: border-box
      }

    html,body {
        
        background: #000 ;
        color: #fff;
        max-width:100%;
	    margin-left:auto;
	    margin-right:auto;
        float:none;
	    text-align:left;
        font-size: 17px;
        line-height: 1.5;
       
        
      }
    
    .title {
        font-size: 30px;
        display: block;
        margin-left:auto;
        margin-right:auto;
        float:none;
        text-align: center;
       
        
    }
      
    
    
    
    
    
    .image {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        border: 2px solid rgb(210, 203, 203);
       
        
    }
    
    
  
        
    
    
    #Project {
        font-size: 30px;
    }

    u {
        color: magenta;
    }



}